h2{
    font-family: 'BenchNine', sans-serif;
    color: var(--main-gold-color);
    text-align: center;
    font-size: 34px;
    padding-top: 50px;
    padding-bottom: 15px;
}

.title{
    font-family: 'Robotto', sans-serif;
    font-size: 19px;
    color: var(--main-text-color);
    text-align: center;
    padding-top: 15px;
    width: 760px;
}

.mid_title{
    display: flex;
    justify-content: center;
}

h3{
    font-family: 'BenchNine' sans-serif;
    font-size: 18px;
    color: var(--main-gold-color);
    padding-top: 20px;
    padding-right: 50px;
    text-align: left;
}

.title_mid{
    font-family: 'Robotto', sans-serif;
    font-size: 17px;
    color: var(--white-text-color);
    width: 800px;
    padding-top: 10px;
    padding-right: 100px;
    text-align: left;
}

section{
    background-color: black;
}

.block_1{
    display: flex;
    justify-content: center;
}

.img{
    height: 32px;
    width: 385px;
}


.img_cigars{
    height: 239px;
    width: 346px;
}

.img_2{
    padding: 50px 50px 50px 50px;
}
.content{
   box-sizing: border-box;
   padding-left: 50px;
   padding-bottom: 100px;
}







